In [1]:
import pandas as pd
import data_preprocessing as data_prep

In [2]:
stock_name = '^GSPTSE'

search_names = ['recession', 'how_to_invest', 'inflation']

In [3]:
main_df = data_prep.merge_csv(stock_name, search_names)

         Week        Date     Adj Close      Volume  sf_0  sf_1  sf_2
0  2017-11-26  2017-12-04  16096.099609   844375000     3    42    20
1  2017-12-03  2017-12-11  16042.000000  1156170900     5    60    21
2  2017-12-10  2017-12-18  16165.299805   834763500     4    58    19
3  2017-12-17  2017-12-25  16209.099609   445232800     2    52    17
4  2017-12-24  2018-01-01  16349.400391   710227100     2    38    12

In [4]:
data_prep.derive_columns(main_df, len(search_names))

,Week,Date,Adj Close,Volume,sf_0,sf_1,sf_2,Price Movement,Search Change 0,Search Movement 0,...,10 week avg 0,2 week avg 1,5 week avg 1,10 week avg 1,2 week avg 2,5 week avg 2,10 week avg 2,One Week Ago Search 0,One Week Ago Search 1,One Week Ago Search 2
0,2017-11-26,2017-12-04,16096.099609,844375000,3,42,20,0,0,0,...,3.0,42.0,42.000000,42.000000,20.0,20.00,20.00,0,0,0
1,2017-12-03,2017-12-11,16042.000000,1156170900,5,60,21,-1,2,1,...,4.0,51.0,51.000000,51.000000,20.5,20.50,20.50,3,42,20
2,2017-12-10,2017-12-18,16165.299805,834763500,4,58,19,1,-1,-1,...,4.0,59.0,53.333333,53.333333,20.0,20.00,20.00,5,60,21
3,2017-12-17,2017-12-25,16209.099609,445232800,2,52,17,1,-2,-1,...,3.5,55.0,53.000000,53.000000,18.0,19.25,19.25,4,58,19
4,2017-12-24,2018-01-01,16349.400391,710227100,2,38,12,1,0,0,...,3.2,45.0,50.000000,50.000000,14.5,17.80,17.80,2,52,17

In [5]:
main_df.tail()

,Week,Date,Adj Close,Volume,sf_0,sf_1,sf_2,Price Movement,Search Change 0,Search Movement 0,...,10 week avg 0,2 week avg 1,5 week avg 1,10 week avg 1,2 week avg 2,5 week avg 2,10 week avg 2,One Week Ago Search 0,One Week Ago Search 1,One Week Ago Search 2
255,2022-10-16,2022-10-24,19471.199219,1140803800,59,28,76,1,-4,-1,...,32.9,30.5,31.2,31.8,77.0,69.4,64.4,63,33,78
256,2022-10-23,2022-10-31,19449.800781,1287591500,53,31,66,-1,-6,-1,...,36.0,29.5,32.2,31.4,71.0,68.4,64.6,59,28,76
257,2022-10-30,2022-11-07,20111.500000,1291112100,46,30,64,1,-7,-1,...,39.0,30.5,32.0,31.6,65.0,68.8,65.7,53,31,66
258,2022-11-06,2022-11-14,19980.900391,1377813400,34,40,82,-1,-12,-1,...,40.7,35.0,32.4,32.5,73.0,73.2,69.1,46,30,64
259,2022-11-13,2022-11-21,20383.800781,1025280900,32,29,66,1,-2,-1,...,42.1,34.5,31.6,32.0,74.0,70.8,70.4,34,40,82

In [6]:
clean_df = data_prep.prep_for_learning(main_df, normalize = 'min-max')

,sf_0,sf_1,sf_2,Search Change 0,Search Movement 0,Search Change 1,Search Movement 1,Search Change 2,Search Movement 2,2 week avg 0,...,2 week avg 1,5 week avg 1,10 week avg 1,2 week avg 2,5 week avg 2,10 week avg 2,One Week Ago Search 0,One Week Ago Search 1,One Week Ago Search 2,Price Movement
0,0.05,0.60,0.21,0.031250,1.0,0.36,1.0,0.02,1.0,0.044693,...,0.593023,0.680000,0.770393,0.208122,0.258838,0.278912,0.03,0.42,0.20,-1.0
1,0.04,0.58,0.19,-0.015625,-1.0,-0.04,-1.0,-0.04,-1.0,0.050279,...,0.686047,0.711111,0.805639,0.203046,0.252525,0.272109,0.05,0.60,0.21,1.0
2,0.02,0.52,0.17,-0.031250,-1.0,-0.12,-1.0,-0.04,-1.0,0.033520,...,0.639535,0.706667,0.800604,0.182741,0.243056,0.261905,0.04,0.58,0.19,1.0
3,0.02,0.38,0.12,0.000000,0.0,-0.28,-1.0,-0.10,-1.0,0.022346,...,0.523256,0.666667,0.755287,0.147208,0.224747,0.242177,0.02,0.52,0.17,1.0
4,0.03,0.59,0.18,0.015625,1.0,0.42,1.0,0.12,1.0,0.027933,...,0.563953,0.712000,0.777946,0.152284,0.219697,0.242630,0.02,0.38,0.12,-1.0

In [7]:
clean_df.tail()

,sf_0,sf_1,sf_2,Search Change 0,Search Movement 0,Search Change 1,Search Movement 1,Search Change 2,Search Movement 2,2 week avg 0,...,2 week avg 1,5 week avg 1,10 week avg 1,2 week avg 2,5 week avg 2,10 week avg 2,One Week Ago Search 0,One Week Ago Search 1,One Week Ago Search 2,Price Movement
254,0.59,0.28,0.76,-0.062500,-1.0,-0.10,-1.0,-0.04,-1.0,0.681564,...,0.354651,0.416000,0.480363,0.781726,0.876263,0.876190,0.63,0.33,0.78,1.0
255,0.53,0.31,0.66,-0.093750,-1.0,0.06,1.0,-0.20,-1.0,0.625698,...,0.343023,0.429333,0.474320,0.720812,0.863636,0.878912,0.59,0.28,0.76,-1.0
256,0.46,0.30,0.64,-0.109375,-1.0,-0.02,-1.0,-0.04,-1.0,0.553073,...,0.354651,0.426667,0.477341,0.659898,0.868687,0.893878,0.53,0.31,0.66,1.0
257,0.34,0.40,0.82,-0.187500,-1.0,0.20,1.0,0.36,1.0,0.446927,...,0.406977,0.432000,0.490937,0.741117,0.924242,0.940136,0.46,0.30,0.64,-1.0
258,0.32,0.29,0.66,-0.031250,-1.0,-0.22,-1.0,-0.32,-1.0,0.368715,...,0.401163,0.421333,0.483384,0.751269,0.893939,0.957823,0.34,0.40,0.82,1.0

In [8]:
print(data_prep.measure_correlation(main_df, ['Adj Close', 'sf_0']))
print(data_prep.measure_correlation(main_df, ['Adj Close', 'sf_1']))

print(data_prep.measure_correlation2(main_df, ['Adj Close', 'sf_0']))
print(data_prep.measure_correlation2(main_df, ['Price Movement', 'Search Movement 0']))

0.3474903474903475
0.43243243243243246
-0.021440746544671777
-0.08518871981338164